body {
    font-family: 'Bungee', sans-serif;
}

a {
    color: black;
}

a:hover {
    color: lightskyblue;
}

body,
html {
    height: 100%;
}

img {
    min-width: 1200px;
    position: fixed;
    top: 0;
    left: 0
}


/*Header*/

.navbar {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.363);
}

.navbar-brand {
    font-family: 'Bungee', cursive;
    font-size: 2.5rem;
    line-height: 2.3rem;
    color: palegreen;
    text-shadow: 0px 5px black;
}

.nav-item {
    font-size: 2rem;
    font-family: 'Quicksand', sans-serif;
}


/*Main*/

main {
    color: white;
    position: fixed;
    margin-top: 10%;
    margin-left: 20%;
    width: 60%;
    height: 75%;
    padding: 1em;
    margin-bottom: 5%;
}